body {
  background-color: yellow;
}

label {
  display: block;
  margin-top: 25px;
}

 @media (min-width: 425px) {
  body {
    background-color: lightgreen;
  }

  label {
  	display: block;
    margin-top: 45px;
  }
}