body {
  background-color: yellow;
}

label {
  display: block;
  margin-top: 25px;
}

input {
  border: 2px solid blue;
  border-radius: 4px;
  display: block;
  margin-top: 20px;
}

h1{
	font-size: 40px;
}

div{
	margin-top: 20px;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }

  label {
    display: block;
    border: 80% blue;
    margin-top: 45px;
  }
}