body {
  background-color: yellow;
}

label {
  margin-top: 15px;
  background-color: red;
  background-size: 300px 100px;
}

input {
  border: 2px solid blue;
  border-radius: 4px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
}

div {
  margin-top: 10px;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }

  label {
  	display: block;
  	background: none;
    border: 80% blue;
    margin-top: 45px;
  }

  input {
    border: 2px solid blue;
    border-radius: 4px;
    margin-top: 0;
  }
}