body {
  background-color: yellow;
}

label {
  display: block;
  margin-top: 15px;
  background-color: red;
  background-size: 300px 100px;
  font-size: 1.3em;
}

input {
  display: block;
  border: 2px solid blue;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;

}

h1 {
  font-size: 40px;
}

div {
  width: 90%;
}

@media (min-width: 480px) {
  body {
    background-color: lightgreen;
  }

  label {
    display: block;
    background: none;
    margin-top: 15px;
  }

  input {
    border: 2px solid blue;
    border-radius: 4px;
    margin-top: 0;
  }
}