body {
  background-color: yellow;
}

label {
  display: inline-block;
  margin-top: 25px;
}

/* @media (min-width: 800px) {
  body {
    background-color: lightgreen;
  }

  label {
    margin-top: 100px;
  }*/
}